table {
  text-align: center;
}

.structure_list {
  width: 40%;
}

.structure {
  width: 60%;
}

#break {
  width: 10vw;
}

#level {
  width: 10vw;
}

.structure td input {
  width: 7rem;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  font-size: larger;
  font-weight: bold;
}
